---
import Layout from "../layouts/Layout.astro";
import { indexData } from "../data/data";
---

<Layout title="SpaceX">
  {
    indexData.map((content) => (
      <section class={content.sectionName} id={content.sectionId}>
        <div class="section-inner">
          <h4>{content.h4}</h4>
          <h2>{content.h2}</h2>
          <a href={content.url} class="btn">
            <div class="hover" />
            <span>{content.span}</span>
          </a>
        </div>

        <button
          class="scroll-arrow"
          onclick="scrollPage(this)"
          id={content.buttonId}
          aria-label="scroll arrow button"
        >
          <script is:inline>
            function scrollPage(btn)
            {
              switch (btn.id) {
                case "arrow-a":
                  document
                    .getElementById("section-b")
                    .scrollIntoView({ behavior: "smooth" });
                  break;
                case "arrow-b":
                  document
                    .getElementById("section-c")
                    .scrollIntoView({ behavior: "smooth" });
                  break;
                case "arrow-c":
                  document
                    .getElementById("section-d")
                    .scrollIntoView({ behavior: "smooth" });
                  break;
                case "arrow-d":
                  document
                    .getElementById("section-e")
                    .scrollIntoView({ behavior: "smooth" });
                  break;
                case "arrow-e":
                  document
                    .getElementById("section-f")
                    .scrollIntoView({ behavior: "smooth" });
                  break;
                case "arrow-f":
                  document.getElementById("footer").scrollIntoView({ behavior: "smooth" });
                  break;
                }
            }
        </script>
          <svg width="30px" height="20px">
            <path
              stroke="#ffffff"
              fill="none"
              stroke-width="2px"
              d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "
            />
          </svg>
        </button>
      </section>
    ))
  }
</Layout>

<style>
  .scroll-arrow {
    animation: fadeBounce 5s infinite;
    background-color: transparent;
    bottom: 48px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  /* Sections */
  section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    text-transform: uppercase;
  }

  .section-inner {
    bottom: 192px;
    left: 150px;
    max-width: 560px;
    position: absolute;
  }

  .section-inner h4 {
    animation: fadeInUp 0.5s ease-in-out;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 5px;
  }

  .section-inner h2 {
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .section-inner a {
    animation: fadeInUp 0.5s ease-in-out 0.4s;
    animation-fill-mode: both;
  }

  /* Background images */
  .section-a {
    background-image: url("../img/section-a.webp");
  }

  .section-b {
    background-image: url("../img/section-b.webp");
  }

  .section-c {
    background-image: url("../img/section-c.webp");
  }

  .section-d {
    background-image: url("../img/section-d.webp");
  }

  .section-e {
    background-image: url("../img/section-e.webp");
  }

  .section-f {
    background-image: url("../img/section-f.webp");
  }

  .section-animate {
    animation: fadeIn 2s ease-in-out;
  }

  .section-inner-center {
    left: 50%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  .section-inner-center h3 {
    animation: fadeInUp 0.5s ease-in-out;
    font-size: 100px;
    margin-bottom: 15px;
  }

  .section-inner-center p {
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both;
    font-size: 20px;
  }

  /* Animations */
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(140px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeBounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
    40% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
